<form id="requestForm" style="margin-top:0!important;" [formGroup]="reqFormInsumos" style="margin:0!important" appMousePosition #scrollTarget>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11" class="no-padding-top" >
      <ion-list>
        <ion-radio-group>
          <ion-row class="static-checkbox">
            <ion-col size="6" class="ion-no-padding">
              <ion-item lines="none"  class="radio">
                <ion-label>Insumo</ion-label>
                <ion-checkbox slot="start"   [(ngModel)]="saveInsumos"  [ngModelOptions]="{standalone: true}"></ion-checkbox>
              </ion-item>

              <ion-item lines="none"  class="radio">
                <ion-label>Etapa</ion-label>
                <ion-checkbox  [(ngModel)]="saveEtapas" slot="start"  [ngModelOptions]="{standalone: true}"> </ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              <ion-item  lines="none"  class="radio">
                <ion-label>Plano de contas</ion-label>
                <ion-checkbox  [(ngModel)]="savePlanoDeContas" slot="start"  [ngModelOptions]="{standalone: true}"></ion-checkbox>
              </ion-item>
              <ion-item lines="none" class="radio">
                <ion-label>Bloco de unidade</ion-label>
                <ion-checkbox  [(ngModel)]="saveblocoId" slot="start"  [ngModelOptions]="{standalone: true}"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-list>

      <ion-item lines="none" class="box ion-margin-vertical">
        <app-input-search   (emitFieldClean)="emitFieldClean($event)" label="Código da Empresa" formName="insumos" [pesquisa]="{pesquisa: '',empreendimentoId:empreendimentoId}" [listItemFilter]="listItemFilter.EmpresasDoEmpreendimento" [parentForm]="reqFormInsumos" controlName="empresaId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item class="box radio">
        <ion-label>Apenas Etapas do Insumo</ion-label>
        <ion-checkbox slot="start" formName="insumos"  formControlName="somenteInsumosDaEtapa"  (ionChange)="changeEtapa()"></ion-checkbox>
      </ion-item>
      <ion-item class="ion-margin-vertical box" lines="none">
          <app-input-search label="Etapa" formName="insumos" (emitFieldClean)="emitFieldClean($event)"
                  [pesquisa]="parametrosLookupEtapa"                  [listItemFilter]="listItemFilter.filteredOptionsEtapas" [parentForm]="reqFormInsumos"
                  #etapaId controlName="etapaId" ngDefaultControl></app-input-search>

          <div class="required-text"  *ngIf="disabledEtapa">
            <p>Insumo é um campo obrigatório</p>
          </div>
      </ion-item>
      <ion-item  lines="none" class="box">
        <app-input-search label="Plano de contas" formName="insumos" (emitFieldClean)="emitFieldClean($event)"  [pesquisa]="{pesquisa:'',empreendimentoId: empreendimentoId}" [listItemFilter]="listItemFilter.filteredOptionsPlanoDeContas" [parentForm]="reqFormInsumos" controlName="planoContasId" ngDefaultControl></app-input-search>
      </ion-item>

      <ion-item  lines="none" class="box ion-margin-vertical">
        <app-input-search label="Serviço" formName="insumos" (emitFieldClean)="emitFieldClean($event)"  [pesquisa]="{empreendimentoId: empreendimentoId,pesquisa:''}" [listItemFilter]="listItemFilter.filteredOptionsServico" [parentForm]="reqFormInsumos" controlName="servicoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item  lines="none" class="box">
        <app-input-search label="Insumo"  formName="insumos" (emitFieldClean)="emitFieldClean($event)" (setfalseUpdate)="setfalseUpdate()" [updateInsumos]="updateInsumos" (setUnidadeType)="setUnidadeType($event)" [pesquisa]="paramsInsumo" [listItemFilter]="listItemFilter.filteredOptionsInsumos" [hasQtdOr]="hasQtdOr" (changeQtdEtapa)="changeQtdEtapa($event)" [parentForm]="reqFormInsumos" controlName="insumoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <ion-row>
          <ion-col size="8" class="no-padding-left">
            <ion-label position="floating">Quantidade</ion-label>
            <ion-input  min="0" [disabled]="!hasInsumoId" formControlName="quantidade" class='customInput' numbersOnly type="number" placeholder="0" [class]="(!!quantidadeInput.errors && !!quantidadeInput.errors.min || quantidadeInput.value == null ) ? 'required' : ''"></ion-input>
          </ion-col>
          <ion-col size="4"class="no-padding-right">
            <ion-label position="floating">Unidade</ion-label>
            <ion-input [value]="insumoTypeUnidades" readonly ></ion-input>
          </ion-col>
          <ion-col size="12">
            <div *ngIf="hasInsumoId && qtdOrc">
              <p class="totalQtd">Quantidade orçada {{qtdOrc}}</p>
            </div>
            <div class="required-text" *ngIf="!hasInsumoId || (!!quantidadeInput.errors && !!quantidadeInput.errors.min || quantidadeInput.value === null )">
              <p *ngIf="!hasInsumoId">Insumo obrigatório </p>
              <p *ngIf="hasInsumoId && (!!quantidadeInput.errors && !!quantidadeInput.errors.min || quantidadeInput.value === null )">A quantidade deve ser maior que 0 </p>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <ion-row >
          <ion-label position="floating">Prazo de Entrega</ion-label>
          <ion-col size="4" class="no-padding-left">
            <div class="calendar grid-item">
              <ion-input formControlName="prazo" numbersOnly placeholder="0" type="number" style="text-align: left;" (ionInput)="setDateManual($event)"></ion-input>
              <ion-icon src="../../assets/icon/calendar.svg" (click)="diaUtil.click()" ></ion-icon>
            </div>
          </ion-col>
          <ion-col size="8"  class="no-padding ion-no-margin">
            <p class="diasUteis">Dias Uteis</p>
          </ion-col>
        </ion-row>
      </ion-item>
      <div #diaUtil id="open-date-input-diff"  style="height: 0;">
        <ion-col size="12">
          <ion-popover  #popOne trigger="open-date-input-diff" alignment="center" :show-backdrop="true" size="cover">
            <ng-template>
              <ion-datetime

                presentation="date" locale="pt-BR"
                [value]="currentDay"
                picker-format="MMMM dd, yyyy"
                display-format="MM/dd/yyyy"
                [min]="currentyear"
                done-text="Confirmar"
                cancel-text="cancelar"
                [(ngModel)]="diference"
                (ionChange)="setDif($event)"
                [ngModelOptions]="{standalone: true}"
                >
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-col>
      </div>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <ion-row>
          <ion-col size="6" class="no-padding-left">
            <ion-label>Data de Devolução</ion-label>
            <div class="calendar grid-item"  (click)="prazoDate.click()">
              <ion-input [value]="getFormField('prazoDevolucao') | momentPipe" readonly style="text-align: left;"></ion-input>
              <ion-icon src="../../assets/icon/calendar.svg" slot="end"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <div id="open-date-input" #prazoDate style="height: 0;">
        <ion-col size="12">
          <ion-popover  #popTwo trigger="open-date-input"alignment="center" :show-backdrop="true" size="cover">
            <ng-template>
              <ion-datetime presentation="date" locale="pt-BR"
                [value]="currentDay" picker-format="MMMM dd, yyyy"
                display-format="MM/dd/yyyy" [min]="currentyear"
                (ionChange)="setPopTwo($event)"
                formControlName="prazoDevolucao" done-text="Confirmar"
                cancel-text="cancelar">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-col>

      </div>
      <ion-item  lines="none" class="box" *ngIf="!!getFormField('etapaId')">
        <app-input-search  (emitFieldClean)="emitFieldClean($event)" label="Insumo de Substituição"  formName="insumos"  [pesquisa]="{pesquisa:'',empreendimentoId: empreendimentoId,somenteInsumosDaEtapa:true,etapaId:getFormField('etapaId')}" [listItemFilter]="listItemFilter.filteredOptionsInsumos" [parentForm]="reqFormInsumos" controlName="insumoSubstituicaoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <ion-label position="floating">Complemento</ion-label>
        <ion-input placeholder="Descrever complemento" formControlName="complemento"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label class="toogleItem">Estoque</ion-label>
          <ion-toggle  formControlName="estoque"></ion-toggle>
        </ion-item>
        <ion-item class="ion-margin-top">
          <ion-label class="toogleItem">Gerar Ativo</ion-label>
          <ion-toggle formControlName="gerarAtivoImobilizado"></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-item  lines="none" class="box  ion-margin-vertical" *ngIf="metodSend ==='PUT'">
        <ion-label position="floating">Status</ion-label>
        <ion-radio-group formControlName="status" >
          <ion-item  class="status" *ngFor="let s of status" lines="none">
            <ion-label [class]="s.label">{{s.label}}</ion-label>
            <ion-radio  slot="start" [value]="s.label" slot="start" ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical" >
        <app-input-search   (emitFieldClean)="emitFieldClean($event)" label="Bloco"  formName="insumos"  [pesquisa]="{pesquisa:'',empreendimentoId: empreendimentoId}" [listItemFilter]="listItemFilter.filteredOptionsBloco" [parentForm]="reqFormInsumos"   controlName="blocoId" ngDefaultControl></app-input-search>

      </ion-item>
      <ion-item  lines="none" class="box"  *ngIf="!!getFormField('blocoId')">
        <app-input-search   (emitFieldClean)="emitFieldClean($event)" label="Unidade"  formName="insumos"  [pesquisa]="{pesquisa:'',blocoId: getFormField('blocoId')}" [listItemFilter]="listItemFilter.filteredOptionsUnidade"  [parentForm]="reqFormInsumos" controlName="unidadeId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item class="box  ion-margin-vertical">
        <ion-label class="gestao">Gestão de Frota</ion-label>
      </ion-item>
      <ion-item  lines="none" class="box">
        <app-input-search   (emitFieldClean)="emitFieldClean($event)" label="Ordem de Serviço"  formName="insumos"  [pesquisa]="{pesquisa:''}" [listItemFilter]="listItemFilter.filteredOptionsOrdemServico"  [parentForm]="reqFormInsumos" controlName="ordemServicoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <app-input-search   (emitFieldClean)="emitFieldClean($event)" label="Gerar OS para Equipamento"  formName="insumos"  [pesquisa]="{pesquisa:''}" [listItemFilter]="listItemFilter.filteredOptionsEquipamento" [parentForm]="reqFormInsumos" controlName="equipamentoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item lines="none" class="box">
        <ion-label position="floating">Observações</ion-label>
        <ion-textarea placeholder="" formControlName="observacoes"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col size="11" >
      <ion-button class="btnRedondo btnVoltar"  expand="block" (click)="submit()" [disabled]="!validForm || sendLoading">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-spinner name="crescent" *ngIf="sendLoading"></ion-spinner>
        {{!sendLoading ? sendMsg :'' }}
      </ion-button>
    </ion-col>
  </ion-row>
</form>
