ion-card{

  border-radius: 9px;
  background: #fff;
  margin-bottom: 30px;
  margin-top: 0;
  ion-card-header{
    text-align: right;
    background-color: #CDE8FF;
    ion-card-title{
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.01em;
      color: #4682B4;
    }
    ion-card-subtitle{
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.04em;
      color: #828282;
      margin-bottom: 15px;
    }
  }
  ion-card-content{
    border: 3px solid #CDE8FF;
    &.active{
      border: 3px solid #EAECED!important;
      transition: border;
    }
    border-radius: 0 0 9px 9px;
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
    ion-row{
      padding: 13px;
      &.borded{
        border-bottom: 1px solid #EAECED;
      }
      ion-row{
        padding: 0;

        &:first-child{
          padding-bottom: 13px;
          margin-bottom: 13px;
        }
      }
    }
    ion-button{
      width: 100%;
      font-size: 18px;
      line-height: 22px;
      color: #5A5A5A;
      --background: #3AEF7F;
      border-radius: 7px;
          
    }
    ion-label{
      font-size: 16px;
      line-height: 19.5px;
      font-weight: 400;
      letter-spacing: -0.02em;
      color: #828282;
      &.labelTitle{
        line-height: 17px;
        font-weight: 600;
        letter-spacing: -0.01em;
        color: #4682B4;
      }
     
    }
    .card-footer{
      background: #EAECED;
      padding: 0!important;
      border-radius: 0 0 9px 9px;
      height: 52px;
      align-items: center;
      ion-label{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.01em;
        &.exclude{
          color: #EB5757!important;
        }
        &.edit{
          color: #828282;
        }
      }
    }
  }
}
