.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    img{
        width: 188px;
        height: 52px;
    }
}
.col-icon{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0;
    ion-icon{
        font-size: 20px;
    }
}
ion-grid{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    ion-item{
        border-radius: 9px;
        --background: #FFFFFF;
        margin-bottom: 20px;
  
        ion-input{
            --background: #FFFFFF;
            height: 46px;
            color:#A0A0AE;
          
        }
        .iconColor{
            color: #4682B4;
        }
        .iconColor2{
            color:#C4C4C4;
        }
    }
    ion-button{
        height: 52px;
        --border-radius: 26px;
        --background: #4682B4;
    }
}

