<ion-header >
  <ion-toolbar lines="none">
    <ion-icon src="../../assets/icon/arrow.svg" class="ion-padding"slot="start" (click)="dismiss()"></ion-icon>
    <ion-title class="ion-text-center">
      Estoque Empreendimentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <app-spinner [showSpinner]="!load" *ngIf="!load"></app-spinner>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center" [@hideShowAnimator]="load" >
        <h1>Resultado para empreendimentos</h1>
      </ion-col>
      <ion-col size="12" class="ion-text-center"*ngFor="let item of listInsumos; let i = index" >
        <app-list-insumos-cp style="width: 100%;" [item]="item" (goToInsumoEmpreendimento)="goToInsumoEmpreendimento($event)"></app-list-insumos-cp>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
