ion-input{

  &:disabled{
      background-color: #F8F8F8;
  }
}
ion-item{
  --background: transparent!important;
}
.filter-p{
  display: flex;
  align-items: center;
  justify-content: end;
  ion-icon{
      margin-left: 5px;
      color: #BDBDBD;
  }
}
.calendar{
  color: #828282;
  font-weight: normal;
  font-size: 16px;
  --placeholder-color: #BDBDBD;
  opacity: 1!important;
  width: 100%;
  --placeholder-opacity: 1;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: -0.02em;
  background: #02435E;
  // background: #F8F8F8;
  /* CINZA - Siecon - 02 */
  border: 2px solid #EAECED!important;
  box-sizing: border-box;
  border-radius: 9px!important;
  padding-inline-start: 11px;
  --padding-start: 11px;
  margin-top:4px;
  min-height: 52px;
  display: flex;
  align-items: center;
  ion-input{
      margin: 0!important;
      border: none!important;
      text-align: center;
      padding-right: 15px!important;
  }
  ion-icon{
      font-size: 25px;
      margin-left: auto;
      margin-right: 16px;
  }
}
.mat-input-container{
  width: 100%;

  .formInput{
    position:relative;
    width: 100%;
    display: flex;
    align-items: center;
    ion-icon {
      position: absolute;
      color: #EB5757;
      font-size: 18px;
      right: 11px;
    }
    input{
      width: 100%;
    }
  }
}
ion-popover {
  // --offset-y: -50%;
  // --width: 100%!important;
  .popover-content {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
}
}