<ion-item  lines="none"  class="archive-item">
  <ion-row style="width: 100%;" class="ion-align-items-center ion-padding">
   
    <ion-col size="12" class="box-desc-header">
      <p class="date ion-no-margin">{{item.dataHora|momentPipe}}</p>
    
    </ion-col>
    <ion-col size="12" class="box-desc-body">

      <p class="title">Descrição: <span>{{item.descricao}}</span></p>
      <p class="title">Usuário: <span>{{item.usuario}}</span></p>
    
    </ion-col>
    <ion-col size="11" class="box-desc-footer ion-text-center">
      <h2 (click)="verDetalhes(item.entidadeId,item.id)">VER MAIS</h2>
    
    </ion-col>
  </ion-row>
</ion-item>