
<ion-grid class="box ion-margin-bottom" [class.boxblue]="currentClass" [class.boxWhite]="!currentClass" @hideShowAnimator *ngIf="loaded">
    <ion-row class="status">
        <ion-col size="4">
            <p class="dataStatus ion-text-start">{{item.dataHora|momentPipe }}</p>
        </ion-col>
        <ion-col size="8">
            <p class="dataStatus ion-text-end d-flex"><ion-icon name="checkmark-done-circle-outline"></ion-icon>{{item.status | statusPipe}}</p>
        </ion-col>
    </ion-row>
    <ion-row class="status">
        <ion-col size="12" class="details">
            <p class="ion-text-start ">Nº Empreendimento: <span>{{item.empreendimento}}</span></p>
            <p class="ion-text-start ">Nº Requisicao: <span>{{item.requisicao}}</span></p>
            <!-- <p class="ion-text-start ">Nº Empreendimento:<span>{{item.empreendimento}}</span></p> -->
          
            <p class="ion-text-start ">{{item.empreendimentoDescricao}}</p>
            <p class="ion-text-start obser">{{item.observacao}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <h3 class="ion-text-center" (click)="goToDetail(item.requisicaoId)"> Ver Detalhes</h3>
        </ion-col>
    </ion-row>
  

</ion-grid>
