<form [formGroup]="formEstoque">
  <div class="boxBlueConsulta" style="margin-top: 0!important;">
    <ion-grid>
      <ion-row>
        <ion-col size="11">
          <ion-radio-group formControlName="centralEstoque"  (ionChange)="eventoMudancaRadio($event)">
            <ion-item *ngFor="let status of groupRadio" lines="none" >
              <ion-label class="aprovado">{{status.name}}</ion-label>
              <ion-radio  slot="start" [value]="status.param" slot="start" ></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-row class="ion-justify-content-center corpo" id="requestForm"  style="margin-bottom: 0!important;" *ngIf="!!insumoEstoque">
    <ion-col size="11">
      <ion-item>
        <ion-label position="stacked">Insumo</ion-label>
        <p>{{insumoEstoque.insumo}}</p>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descrição do Insumo</ion-label>
        <p>{{insumoEstoque.insumoDescricao}}</p>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Complemento:</ion-label>
        <p>{{insumoEstoque.complemento}}</p>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Filtrar por complemento:</ion-label>
        <ion-checkbox formControlName="filterComplement"   slot="end" (ionChange)="changeComplement()"></ion-checkbox>
      </ion-item>
      <ion-item  lines="none" class="box">
        <ion-row>
          <ion-col size="8" class="no-padding-left">
            <ion-label position="floating">Quantidade Requisitada</ion-label>
            <ion-input  readonly="true" formControlName="quantidadeRequisitada" [disabled]="disabledButton"></ion-input>
          </ion-col>
          <ion-col size="4" class="no-padding-right">
            <ion-label  position="floating">Unidade</ion-label>
            <ion-select [placeholder]="insumoEstoque.unidade" [disabled]="true" formControlName="unidade" >
              <ion-select-option value="0">Un</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item  lines="none" class="box">
        <ion-row>
          <ion-label position="floating">Saldo em Esotoque</ion-label>
          <ion-col size="9" class="no-padding-left" class="estoqueIcon">
            <ion-input  readonly="true" formControlName="saldoEstoque" style="padding-inline-start: 0;"></ion-input>
            <ion-icon  [class.disabled]="disabledButton" [name]="disabledButton ? 'alert-circle-outline':'checkmark-circle-outline'"></ion-icon>
          </ion-col>
          <ion-col size="3" class="no-padding-right">
            <ion-button class="searchButton"  [disabled]="disabledButton" [class.disabledSearch]="disabledButton || hasLoad" (click)="consult()">
              <ion-spinner name="crescent" *ngIf="hasLoad" ></ion-spinner>
              <ion-icon src="../../assets/icon/searchIcon.svg"  class="ion-padding icon-green" slot="end" *ngIf="!hasLoad"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-label position="floating">Quantidade Reservada</ion-label>
          <ion-col size="9" class="no-padding-left" class="estoqueIcon">
            <ion-input readonly="true" formControlName="quantidadeReservada" style="padding-inline-start: 0;"></ion-input>

          </ion-col>
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>
</form>
