<ion-header >
  <ion-toolbar lines="none">
    <ion-icon src="../../assets/icon/topoRequest.svg" class="ion-padding"slot="start" (click)="dismiss()"></ion-icon>
    <!-- <ion-icon src="../../assets/icon/lupa.svg" class="ion-padding icon-green" slot="end" (click)="goCentralEstoque()"></ion-icon> -->
    
    <ion-title class="ion-text-center">
      Insumos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-isumos-form #appChild (onlyReset)="onlyReset()" (resetAndBack)="resetAndBack()" [getFormForStore]="getFormForStore()" (setFormForStore)="setFormForStore($event)"></app-isumos-form>

</ion-content>
