<form id="requestForm" [formGroup]="reqForm">
  <ion-row class="ion-justify-content-center">
    <ion-col size="11" class="no-padding-top">
      <ion-item  lines="none" class="box">
        <app-input-search label="Empreendimentos" [disabledInput]="validReqId" formName="req" [pesquisa]="{pesquisa: ''}" [listItemFilter]="listItemFilter.filteredOptionsEmpreendimento" placeholder="Código da obra" [parentForm]="reqForm" controlName="empreendimentoId" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item class="ion-margin-vertical box" lines="none">
        <ion-label  position="floating">Motivo</ion-label>
        <ion-select placeholder="Todos" formControlName="motivoId" cancel-text="cancelar" interface="action-sheet" [interfaceOptions]="{ cssClass: 'my-custom-interface' }" [selectedText]="selectedTextOption()">
          <ion-select-option *ngFor="let item of motivos" [value]="item?.id" >{{ item?.descricao }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  lines="none" class="box"  *ngIf="hasValueEmpreendimento">
        <app-input-search label="Número O.F (Para desconto)" formName="req"  [pesquisa]="{pesquisa: '',empreendimentoId:empreendimentoIdValue}" [listItemFilter]="listItemFilter.ofDescontoMaterial" placeholder="Número O.F" name="ofDescontoMaterial" [parentForm]="reqForm" controlName="ofDescontoMaterial" ngDefaultControl></app-input-search>
      </ion-item>
      <ion-item  lines="none" class="box ion-margin-vertical">
        <app-input-search label="Aprovador" formName="req"  [pesquisa]="{pesquisa: ''}"  [listItemFilter]="listItemFilter.filteredOptionsUsuarios" [parentForm]="reqForm" controlName="aprovador" ngDefaultControl></app-input-search>

      </ion-item>
      <ion-item lines="none" class="box">
        <ion-label position="stacked">Observações</ion-label>
        <ion-textarea placeholder="" formControlName="observacao" cols="20"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col size="11" >
      <ion-button class="btnRedondo btnVoltar"  expand="block" (click)="sendForm()" [disabled]="!hasValidForm || sendLoading">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <ion-spinner name="crescent" *ngIf="sendLoading"></ion-spinner>
        {{!sendLoading ? 'Confirmar' :'' }}
      </ion-button>
    </ion-col>
  </ion-row>
</form>
