ion-button{
    font-weight: 400;
    font-size: 14px;
    border-radius: 26px;
    --box-shadow: none;
}
#requestForm{
    margin: 0;
}
ion-item{
    color: #A0A0AE;
}
.imgDiv{
    background: #CDE8FF;
    padding: 40px;
    border-radius: 50%;
    opacity: 0.3;
}
.titleNoInsumos{
    color: #BDBDBD;
    font-weight: 700;
    text-align: center;
    font-size: 18px!important;
}