<ion-content>
  <form>
    <div class="boxBlueConsulta" style="margin-top: 0!important;">
      <ion-grid class="gridTop">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label  position="floating">Insumo</ion-label>
              <p>{{itemSelect.insumoDescricao}}</p>
            </ion-item>
          </ion-col>
          <ion-col size="8" >
            <ion-item lines="none">
              <ion-label  position="floating">Quantidade Requisitada</ion-label>
              <p>{{itemEstoque.quantidadeRequisitada}}</p>
            </ion-item>
            
          </ion-col>
          <ion-col size="4">
            <ion-item  lines="none">
              <ion-label  position="floating">Unidade</ion-label>
              <p>{{itemSelect.unidade}}</p>
            </ion-item>
            
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-row class="ion-justify-content-center corpo" id="requestForm">
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating">Empreendimento</ion-label>
            <p>{{itemSelect.empreendimento}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descrição Empreendimento</ion-label>
            <p>{{itemSelect.empreendimentoDescricao}}</p>
          </ion-item>
         
          <ion-item>
            <ion-label position="floating">Complemento:</ion-label>
            <p>{{itemSelect.complemento}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Saldo em Estoque</ion-label>
            <p>{{itemSelect.quantidadeEstoque}}</p>
          </ion-item>
          <ion-item  lines="none" class="boxEstoque" [class]="itemEstoque.quantidadeReservada > itemSelect.quantidadeEstoque ? 'error': 'success'">
            <div>
              <ion-label position="floating">Quantidade Reservada</ion-label>
              <p >{{itemEstoque.quantidadeReservada > itemSelect.quantidadeEstoque ? itemSelect.quantidadeEstoque  :itemEstoque.quantidadeReservada}}</p> 
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-button class="btnRedondo btnVoltar" (click)="reservar()" type="submit" expand="block"><ion-ripple-effect type="unbounded"></ion-ripple-effect>Reservar</ion-button>
        </ion-col> 
      </ion-row>
    </div>
  </form>
</ion-content>