<style>
  .wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
  background-color: white;
}
</style>
<ion-header>
  <ion-toolbar lines="none">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7">
          <div class="logo">
            <img id="logo-login" src="../../assets/whiteLogo.svg" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <!-- Container dos botões -->
  <ion-grid class="ion-no-padding position-relative" style="height: 200px;">
    <!-- Primeira Linha de Botões -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" style="padding-right: 10px;">
        <ion-button style="font-size: 15px; " class="btnGreen ion-text-capitalize" (click)="newRequest()">Requisição <br/>de Compra</ion-button>
      </ion-col>
      <ion-col size="5" style="padding-left: 10px;">
        <ion-button style="font-size: 15px;" class="btnGreen ion-text-capitalize" (click)="newRequestFrotaBt()">Estoque</ion-button>
      </ion-col>
    </ion-row>

    <!-- Segunda Linha de Botões -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" style="padding-right: 10px;">
        <ion-button style="font-size: 15px;" class="btnGreen btn-row-2 ion-text-capitalize" (click)="ordemServico()">Ordem <br/>Serviço</ion-button>
      </ion-col>
      <ion-col size="5" style="padding-left: 10px;">
        <ion-button style="font-size: 15px;" class="btnGreen btn-row-2 ion-text-capitalize" (click)="abastecimento()">Abastecimento</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true" >
  <!-- Espaçador para o conteúdo não ficar atrás dos botões -->
  <div style="height: 180px;"></div>
</ion-content>

<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script>
  // O script do signature pad pode estar aqui, mas não será usado nesta tela.
</script>