<ion-item  lines="none" *ngIf="controlName === 'insumoId'" >
  <ion-label>Filtrar por: Código</ion-label>
  <ion-toggle [(ngModel)]="filterDesc"></ion-toggle>
</ion-item>
<ion-item lines="none" [formGroup]="parentForm">
  <ion-row >
    <ion-label position="floating"  *ngIf="controlName !== 'insumoId'">{{label}}</ion-label>

      <ion-row *ngIf="controlName === 'insumoId'">
        <ion-col class="ion-no-padding">
          <ion-item lines="none">
            <ion-label position="floating" style="display: flex;align-items: center;" >{{label}}</ion-label>
          </ion-item>

        </ion-col>
        <ion-col class="radio ion-no-padding">
          <ion-item lines="none">
            <ion-checkbox slot="start"   [(ngModel)]="hasQtdOr" (ionChange)="changeEtapa($event)" [ngModelOptions]="{standalone: true}"></ion-checkbox>
            <ion-label position="floating" style="display: flex;align-items: center; justify-content:end;">Calcular Quantidade</ion-label>
          </ion-item>

        </ion-col>
      </ion-row>
    <ion-col size="9" class="no-padding-left">
      <div  matAutocompleteOrigin #origin="matAutocompleteOrigin" class="formInput">
        <input
          matInput
          type="text"
          [placeholder]="!!placeholder ? placeholder : label"
          [formControlName]="controlName"
          [matAutocomplete]="name"
          [disableControl]="setDisableButton"
          class="customInput"
          (focus)="getLoockups()"
          [class]="getRequerid ? 'required' : ''"
          [matAutocompleteConnectedTo]="origin"
          style="padding-inline-end: 30px;">
          <ion-icon name="close-outline" *ngIf="!!getValue && !setDisableButton" (click)="apagaEAbre()"></ion-icon>
      </div>

      <mat-autocomplete #name="matAutocomplete"  [displayWith]="displayFn.bind(this)" >
        <mat-option value="null" *ngIf="noSearchResult">Nenhum valor encontrado</mat-option>
        <mat-option *ngFor="let option of listItemFilter | async" [value]="option.id" [style.fontSize]="formName === 'insumos' ? '12px':'14px'">
          <!-- Mostrando itens de forma personalizada -->
          <ng-template *ngIf="itemTemplate" [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{$implicit: option}"></ng-template>
          <!-- Mostrando itens de forma padrão caso o desenvolvedor não tenha personalizado a apresentação -->
          <div *ngIf="!itemTemplate">
          {{option.descricao | filterType:controlName:filterDesc}}
          </div>
        </mat-option>
      </mat-autocomplete>
    </ion-col>
    <ion-col size="3" class="no-padding-right">
      <ion-button class="searchButton" (click)="getLoockups()" [disabled]="setDisableButton">
        <ion-spinner name="crescent" *ngIf="loading" ></ion-spinner>
        <ion-icon src="../../assets/icon/searchIcon.svg"  class="ion-padding search-icon-input" slot="end" *ngIf="!loading"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="12" class="required-text" *ngIf="getRequerid">
      <p>Campo Obrigatório </p>
    </ion-col>
  </ion-row>
</ion-item>
