ion-row{
    width: 100%;
    .formInput{

        margin-top: 4px;
        min-height: 52px;
        position: relative;
        display: flex;
        align-items: center;
        ion-icon {
            position: absolute;
            color: #EB5757;
            font-size: 18px;
            right: 11px;
          }
        input{
            width: 100%;
            border: none!important;
            border-radius: 0!important;
            margin-top: 0!important;
            &:disabled{
                background-color: #EAECED!important;
            }          
        }
    }
    .customInput.required{
        border: 2px solid #EB5757 !important;
        // border-color: #EB5757!important;
    }
    .required-text{
        p{
            color: #EB5757;
            font-size: 13px;
            margin-top: 2px!important;
            margin-bottom: 0!important;
            margin-block-end: 1em;
            line-height: 18px;
            letter-spacing: -0.02em;
        }
    }
    .radio{
        ion-label{
            color: #023A51 !important;
            font-size: 14px !important;
            line-height: 20px !important;
            letter-spacing: -0.02em !important;
            font-weight: 400 !important;
        }
        ion-checkbox{
            --background-checked: #4682B4;
            --border-color-checked: #4682B4;
            --border-width:2px;
            width: 16px;
            height: 16px;
            --background:transparent;
            --border-color:#4682B4;
            --checkmark-color: #fff;
            --checkmark-width: 3px;
            --color: #4682B4;
            --border-radius: 3px;
            margin-inline-end: 10px;
        }
    }
    ion-spinner{
        color: #4682B4;
    }
}




