<ion-header >
  <ion-toolbar lines="none">
    <ion-icon src="../../assets/icon/arrow.svg" class="ion-padding"slot="start" (click)="dismiss()"></ion-icon>
    <ion-title class="ion-text-center">
     Justificativa
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!!justificativa">
  <form [formGroup]="formJus">
    <ion-row class="ion-justify-content-center corpo" id="requestForm">
      <ion-col size="11">
        <ion-item>
          <ion-label position="stacked">Data</ion-label>
          <p>{{justificativa.dataHora | fullDate}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Usuário</ion-label>
          <p>{{justificativa.usuario}}</p>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Status</ion-label>
          <p>{{justificativa.status}}</p>
        </ion-item>
        <ion-item lines="none" class="box">
          <ion-label position="stacked">Justificativa</ion-label>
          <ion-textarea placeholder="Digite a Justificativa..." formControlName="justificativa"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-button class="btnRedondo btnVoltar"[disabled]="formJus.invalid" (click)="sendJus()" type="submit" expand="block"><ion-ripple-effect type="unbounded"></ion-ripple-effect>Enviar Justificativa</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
