
    ion-header{ 
        height: 320px;
        width: 100%;
        background-color: #023A51;
        ::before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background:url('../../../assets/img/loginBg.png') #023A51;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: .3;
            content: "";
            mix-blend-mode: multiply;
            z-index: -1;
            box-shadow: 0px 2px 36px rgba(0, 0, 0, 0.08);
            border-radius: 0px 0px 18px 18px;
        }
        &::after{
            content: none;
        }
        ion-toolbar{
            --background:transparent;
            --border-width: 0px;
            height: 100%;
            align-items: center;
            display: flex;
            ::before{
                content: none;
            }
        }
    }
    .btnGreen{
        width: 100%;
        font-weight: 600;
        --border-radius: 9px;
        font-size: 22px;
        --background: linear-gradient(180deg, #2CBC63 0%, #25AD59 100%);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
        position: absolute;
        top: -30px;
        z-index: 10;
        height: 80px;
        letter-spacing: -0.08px;
        line-height: 18px;
    }
    .principalDiv{
        background: rgba(2, 58, 81, 1);
        box-shadow: 0px 2px 36px rgb(0 0 0 / 30%);
        border-radius: 18px 18px 0px 0px;
        // margin-top:80px;
        height: auto;
        p{
            color: #4682B4;
        }
        h3{
            color: #4682B4;
            font-size: 18px;
        }
        .box{
            height: 100px;
            background-color: #02435E;
            border-radius: 9px;
        }
    }

