<ion-header >
  <ion-toolbar lines="none">
    <ion-icon src="../../assets/icon/topoRequest.svg" class="ion-padding"slot="start" (click)="onBack()"></ion-icon>
    <ion-icon src="../../assets/icon/editIcon.svg" disabled="true" class="ion-padding icon-green" slot="end"  [ngClass]="{'disabled': !requisicaoId}" *ngIf="hasButtonFinish"></ion-icon>
    <ion-title class="ion-text-center" *ngIf="rota === 'req'">
      {{step === 0 ?  'Pesquisa de termo' : 'Novo termo de responsabilidade'}}
    </ion-title>
    <ion-title class="ion-text-center" *ngIf="rota === 'dev'">
      Pesquisa de <br/> termos para devolução
    </ion-title>
    <ion-title class="ion-text-center" *ngIf="rota === 'epi'">
      Pesquisa de Baixas Estoque
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid  class="no-padding-bottom no-padding-top">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11"  class="no-padding-bottom no-padding-top">
        <ion-segment [scrollable]="true" [value]="step" class="segmentBottom" (ionSelect)="setStep($event)">
          <ion-segment-button [value]="item.key"   *ngFor="let item of steps" >
              {{item.title}}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <app-pesq-form-frota
        *ngIf="step === 0"
        (gonew)="gonew()"
        (sendReq)="sendReqPesq($event)"
        (updateStep)="updateStep($event)"
        (updateButton)="updateButton($event)"
        (setFormForStore)="setFormForStore($event)"></app-pesq-form-frota>
    <app-request-form-frota
        *ngIf="step === 1"
        (gonew)="gonew()"
        (sendReq)="sendReq($event)"
        (updateStep)="updateStep($event)"
        (updateButton)="updateButton($event)"
        (setFormForStore)="setFormForStore($event)"></app-request-form-frota>

  </ion-grid>
</ion-content>

