// Estilos da página (fundo, cabeçalho)
:host {
  ion-content {
    --background: #F4F7FA;
  }
}

ion-header {
  ion-toolbar {
    --background: #F4F7FA;
    ion-title, ion-back-button {
      color: #023A51;
    }
  }
}

// Estilo do "Card" do Formulário
.form-container {
  background: #ffffff;
  margin: 16px;
  padding: 20px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
}

// Botão Localizar Foto
.btn-localizar {
  --background: #e9edf1;
  --color: #023A51;
  --border-radius: 6px;
  font-weight: 500;
  text-transform: none;
  margin-bottom: 24px;
}

// Estilos do placeholder da imagem
ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-width: 0;
  margin-bottom: 20px;

  ion-label {
    font-size: 14px;
    font-weight: 600;
    color: #023A51;
    margin-bottom: 8px;
  }
}

.image-placeholder {
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  overflow: hidden; // Garante que a imagem não saia das bordas arredondadas

  img, .placeholder-box {
    width: 100%;
    display: block;
    aspect-ratio: 360 / 171;
  }

  .placeholder-box {
    background: #f8f9fa;
  }
}

// Estilo do Rodapé e Botão
.button-container {
  padding: 8px 16px 16px 16px;
  background: #F4F7FA;
}

.btn-confirmar {
  --background: #E9F2FF;
  --background-activated: #d8e6fa;
  color: #5298FF;
  --border-radius: 25px;
  --box-shadow: none;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
}