/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
ion-app{
    
    margin-bottom: env(safe-area-inset-bottom);
    menu-root{
        margin-top: env(safe-area-inset-top);
    }
}
::-webkit-scrollbar-track
{

border-radius: 9px!important;
background-color: #EAECED!important;
}

::-webkit-scrollbar
{
width: 3px!important;
background-color: #EAECED!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0;
}
.search-icon-input{
    padding: 0;
    margin: 0;
}
.my-custom-class-loading{
    --background: #EAECED;
    --spinner-color: #4682B4;
    box-shadow:none;
    color: #023A51;
    ion-spinner{
        width: 40px;
        height: 40px;
    }
}
::-webkit-scrollbar-thumb
{
background-color: #4682B4!important;
}
app-allRequest,app-request,app-insumos,app-centeal-estoque,app-detail-request{
    --ion-background-color: #ffff;
    background: #FFFFFF;
  }
  .my-custom-alert {
    --background: #FFFFFF;
    .alert-wrapper{
        border-radius: 16px;
        padding: 4px;
        .alert-title.sc-ion-alert-md{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: #4682B4;
    
        }
        .alert-button-group{
            border-top: 1px solid #EAECED;
            .cancel-button{
                color: #EB5757;
            }
            .confirm-button{
                color: #4682B4;
            }
            .finish-button{
                color: #2CBC63;
            }
            .exclude-button{
                color: #F2994A;
            }
        }

    }

  }
  .my-custom-interface {
    .action-sheet-container {
        //box-shadow: 0px 2px 36px rgb(0 0 0 / 30%);
        .action-sheet-group{
            background: #fFFFFF!important;
            // padding-top: 18px;
            // padding-bottom: 18px;
            
            max-height: 50%;

            &:first-child{
                padding: 30px 0px 0px 0px;
            }
            .sc-ion-action-sheet-md {
                --button-background: linear-gradient(0deg, rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08), rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.08) 50%, transparent 50%) bottom/100% 1px no-repeat transparent;
                justify-content: center;
                --button-background-selected-opacity: 0.6;
                --button-background-selected: #EAECED;
                --button-color: #4682B4;
                --button-color-selected: #023A51;
                text-align: center;
            }
            .action-sheet-button{  
                font-weight: 400;
                font-size: 14px;
                height: auto;
                contain: content;
                line-height: 20px;
                text-transform:lowercase;
                margin-bottom: 7px;
                margin-top: 7px;
            }
            &:first-child{
                border-radius:9px 9px 0px 0px;
               
            }.action-sheet-cancel{
                color: var(--ion-color-danger, #eb445a);
                text-transform:uppercase;
            }

        }
        .action-sheet-group.action-sheet-group-cancel{
            border:none!important;
        } 
      

    }

  }
  @media (max-width: 393px) {
    .action-sheet-button{  
        font-weight:400;
        font-size: 10px;
        height: auto;
        contain: content;
        line-height: 13px;
        text-transform:lowercase;
        margin-bottom: 7px;
        margin-top: 7px;
    }
  }
  @media (-webkit-min-device-pixel-ratio: 4) {
    .action-sheet-button{  
        font-weight:400;
        font-size: 10px;
        height: auto;
        contain: content;
        line-height: 13px;
        text-transform:lowercase;
        margin-bottom: 7px;
        margin-top: 7px;
    }
  }
ion-app{
    app-input-search{
        width: 100%;
    }
    app-allRequest{
        background: #FFFFFF;
    }
    --ion-font-family:  'Montserrat', sans-serif!important;
    font-family:  'Montserrat', sans-serif!important;
    --ion-background-color: #023A51;
    ion-button.btnEdit{
        --background: #2CBC63;
        color:#EAECED;
    }
    ion-button.btnVoltar{
        --background: #CDE8FF;
        color: #023A51;
    }
    .no-padding-left{
        padding-inline-start: 0;
    }
    .no-padding-right{
        padding-inline-end: 0;
    }
    .btnRedondo{
        height: 52px;
        --border-radius: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
    }

    menu-root{
        z-index: 2;
    }
    .icon-green{
        color: #2CBC63;
    }
    #requestForm{
        margin: 35px 0px 35px 0px;
        .datetime-text{
            display: flex;
            align-items: center;
        }
        .customInput.required{
            border: 2px solid #EB5757 !important;
            // border-color: #EB5757!important;
        }
        ion-item{ 
            --padding-start:0;
            --background:#FFFFFF;
            --border-color:#EAECED;
            border-bottom: var(–ion-color-warning,red);
            --inner-padding-end:0;
            ion-select.select-icon{
                transform:initial!important;
            }
            .gestao{
                font-size: 16px!important;
                line-height: 20px!important;
                /* identical to box height */
                letter-spacing: -0.02em!important;
                font-weight: 300!important;
                /* CINZA - Siecon - 01 */
                color: #A0A0AE!important;
            }
            ion-textarea{
                padding-top: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 5px));
            }
            ion-select{
                --padding-end: 11px;
                min-width: 100%;
                .select-icon{
                    transform:initial!important;
                }
            }
            ion-datetime::part(text){
                display: flex;
                align-items: center;
                height: 100%;
            }
            ion-select::part(icon) {
                transform: initial!important;
                color: #4682B4;
                opacity: 1;
            }

            ion-input,.customInput,ion-select,ion-textarea,.calendar{
                color: #828282;
                font-weight: normal;
                font-size: 14px;
                --placeholder-color: #BDBDBD;
                opacity: 1!important;
                --placeholder-opacity: 1;
                line-height: 20px;
                /* identical to box height */
                letter-spacing: -0.02em;
                background: #fff;
                // background: #F8F8F8;
                /* CINZA - Siecon - 02 */
                border: 2px solid #EAECED!important;
                box-sizing: border-box;
                border-radius: 9px!important;
                padding-inline-start: 10px;
                --padding-start: 10px;
                margin-top:4px;
                min-height: 52px;
                &:disabled{
                    background-color: #F8F8F8;
                }
            }
            .calendar{
                display: flex;
                align-items: center;
                padding-inline-end: 10px;
                ion-input{
                    margin: 0!important;
                    border: none!important;
                    text-align: center;
                    padding-right: 5px!important;
                }
                ion-icon{
                    font-size: 25px;
                    margin-left: auto;
                    // margin-right: 16px;
                }
            }
            ion-textarea{
                --color: #000;
                --placeholder-color: #000;
            }
            ion-textarea{
                height: 117px;
                min-height: 117px;
                background: #FFF!important;
                margin-top: 9px;
            }
            ion-button.searchButton{
                --background: #EAECED;
                border-radius: 10px;
                height: 52px;
                width: calc(100% - 5px);
            }
            .toogleItem{
                font-weight: 600!important;
                font-size: 16px!important;
                line-height: 20px!important;
                letter-spacing: -0.02em!important;
                transform: initial;
                color: #023A51!important;
            }
            ion-toggle{
                --background: #E0E0E0!important;
                width: 44px;
                min-height: 24px;
            }
         
            ion-label{
                width: 100%;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.01em;
                transform: initial;
                color: #4682B4;
                span{
                    color: #BDBDBD;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
    }
    .custom-alert{
        --background: #fff;
        text-align: center;
        color: red;
    }
    .my-custom-modal{
        --background: #fff;
        ion-toolbar::after{
            content: none;
        }
        ion-content{
            --background: #fff;
        }
    }
    input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{

        -webkit-text-fill-color: #A0A0AE;
        -webkit-box-shadow: 0 0 0px 0px #000 inset;
        transition: background-color 5000s ease-in-out 0s;
      }
}

.mat-autocomplete-panel{
    box-shadow: 0px 2px 36px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 18px 18px;

    .mat-option.mat-active {
        background: rgba(0,0,0,.04);
       color: #4682B4;
    }
    .mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
        background: rgba(0,0,0,.04);
        color: #4682B4!important;
    }
    .mat-option {
        white-space: pre-line!important;
        font-weight: 400;
        font-size: 14px;
        min-height: 48px;
        line-height: 18px;
        height: auto!important;
        margin-top: 4px;
        margin-bottom: 4px;
        font-family: 'Montserrat';
    }

}
.alert-input{
    color: #A0A0AE!important;
}
.modal-documents{
    --border-radius: 18px 18px 0px 0px;
    --background:#fff;
    // --border-radius: 18px 18px 0px 0px;
    ion-content{
        --background:#fff;
    }
}
.modalFinishReq{
    --background:#fff;
    // --border-radius: 18px 18px 0px 0px;
    ion-content{
        --background:#fff;
    }
}
ion-popover{
    --offset-y:var(--mouse-position-y);
    // --width: auto!important;
}
ion-datetime{
    --background: #fff;
    color: #4682B4;
    .calendar-day-active {
        color: var(--ion-color-contrast);
        --background: #4682B4;
    }
    .calendar-day-today::after {
        border: 1px solid #4682B4;
    }
    .calendar-days-of-week{
        color: #EAECED;
    }
}