<ion-header >
  <ion-toolbar lines="none">
    <ion-icon src="../../assets/icon/arrow.svg" class="ion-padding"slot="start" (click)="dismiss()"></ion-icon>
    <ion-title class="ion-text-center">
      Item Requisitado
      <br />
      <span>Empreendimento</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <div class="boxBlueConsulta" style="margin-top: 0!important;">
      <ion-grid class="gridTop">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label  position="floating">Insumo</ion-label>
              <p>{{itemObject.insumoDescricao}}</p>
            </ion-item>
          </ion-col>
          <ion-col size="8" >
            <ion-item lines="none">
              <ion-label  position="floating">Quantidade Requisitada</ion-label>
              <p>{{itemObject.quantidadeReservada}}</p>
            </ion-item>

          </ion-col>
          <ion-col size="4">
            <ion-item  lines="none">
              <ion-label  position="floating">Unidade</ion-label>
              <p>{{itemObject.unidade}}</p>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-row class="ion-justify-content-center corpo" id="requestForm">
        <ion-col size="11">
          <ion-item>
            <ion-label position="floating">Empreendimento</ion-label>
            <p>{{itemObject.empreendimento}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descrição Empreendimento</ion-label>
            <p>{{itemObject.empreendimentoDescricao}}</p>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Complemento:</ion-label>
            <p>{{itemObject.complemento}}</p>
          </ion-item>
          <ion-item  lines="none" class="boxEstoque">
            <div>
              <ion-label position="floating">Saldo em Esotoque</ion-label>
              <p>{{itemObject.quantidadeEstoque}}</p>
            </div>

          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-button class="btnRedondo btnVoltar"  type="submit" expand="block"><ion-ripple-effect type="unbounded" (click)="dismiss()"></ion-ripple-effect>Voltar</ion-button>
        </ion-col>
      </ion-row>
    </div>

  </form>
</ion-content>
