// Estilos da página (fundo, cabeçalho)
:host {
  ion-content {
    --background: #F4F7FA;
  }
}

ion-header {
  ion-toolbar {
    --background: #F4F7FA;
    ion-title, ion-back-button {
      color: #023A51;
    }
  }
}

// Estilo do "Card" do Formulário
.form-container {
  background: #ffffff;
  margin: 16px;
  padding: 20px 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
}

// Estilos dos Campos do Formulário (Inputs e Selects)
ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-width: 0;
  margin-bottom: 20px;

  ion-label {
    font-size: 14px;
    font-weight: 600;
    color: #023A51;
    margin-bottom: 8px;
  }

  // Estilo para inputs e selects
  ion-input, ion-select {
    --background: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    --padding-start: 12px;
    --padding-end: 12px;
    width: 100%;
    font-size: 16px;
    color: #333;
  }

  // Ajuste específico para o ion-select
  ion-select {
    --padding-top: 13px;
    --padding-bottom: 13px;
  }

  // Estilo para quando o campo está focado (clicado)
  &.item-has-focus ion-input,
  &.item-has-focus ion-select {
    border-color: #5298FF;
  }
}

// Remove o padding extra da coluna do grid
ion-grid ion-col {
  padding-left: 0;
  padding-right: 0;
  &:first-child {
    padding-right: 8px;
  }
  &:last-child {
    padding-left: 8px;
  }
}