<ion-header>
  <ion-toolbar lines="none">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7">
          <div class="logo">
            <img id="logo-login" src="../../assets/whiteLogo.svg" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Container principal que vai centralizar tudo -->
  <div class="container-principal">

    <!-- Linha com os dois botões de opção -->
    <div class="linha-botoes">
      <ion-button class="btn-opcao" (click)="navegarPara('abastecimento-proprio')">
        Abastecimento<br/>Próprio
      </ion-button>
      <ion-button class="btn-opcao" (click)="navegarPara('abastecimento-postos')">
        Abastecimento<br/>em Postos
      </ion-button>
    </div>

    <!-- Botão de Voltar -->
    <ion-button class="btn-voltar" (click)="voltar()">
      Voltar
    </ion-button>

  </div>
</ion-content>